*.dll
*.exe
*.spec
*.pyc
/dist
/build
/src/__pycache__
/.vscode
src/test.py
src/test2.py
src/extraCode.py
images/Iceborne Data
images/damage types
images/status effects
images/VectorDrawable2Svg-master
/util